
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #375D80;
  color: #fff;
  text-align: left;
  z-index: 1000;
}
.h1_df {
    width: 100%;
    background-color: #375D80;
    font-size: 36px;
    color: white; 
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 20px 10px;
}

#menu_df {
	position: fixed;
	width: 150px;
	background-color: white;
	font-size: 16px;
	text-align: left;
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	height: 80%;
	border: 2px solid #375D80;
	margin-left: 5px;
	margin-right: 2px;
	overflow-y: auto; 
	overflow-x: auto;
}

#menu_df a {
	display: block; 
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px; 
	font-size: 15px; 
	text-decoration: none; 
	color: black; 
	font-family: Verdana, Arial, sans-serif;
	line-height:inherit;
	z-index: 100;
}

#menu_df a:hover {
    background-color: #3B7197; 
}

.ul_level{
  margin-top: 2px;
  margin-bottom: 2px; 
}

.box_df {
	margin-left: 170px;
	white-space: nowrap; 
	margin-top: 10px;
}

.linkkegg {
  color:#8B4513;
}
.linkbrenda {
 color:	#4169E1;	
}
.linkcazy{
  color:#B22222;
}
.linkcog{
  color:#008000;
}

.optionbox1 {
	background-color: #f2f2f2;
	width: 95.5%;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 55px;
	margin-bottom: 0px;
	border-radius: 0px; 
	box-sizing: border-box;
}

.optionbox {
	background-color: #f2f2f2;
	width: 95%;
	padding-left: 0px; 
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 55px;
	margin-bottom: 0px;
	border-radius: 5px; 
	box-sizing: border-box;
}

.level1_df {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-left: 15px;
	padding-bottom: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-top: 0px;
}

.level2_df {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-left: 35px;
	margin-top: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

.level3_df {
  font-size: 16px;
  font-weight: normal;
  text-align: left; 
  margin-left: 50px;
  margin-top: 2px;
}
.level4_df {
  font-size: 16px;
  font-weight: normal;
  text-align: left; 
  margin-left:60px;
}

.gene_d4 {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	margin-top: 2px;
	margin-left: 40px;
	line-height: 1.5;
	text-indent: 20px;
}
.gene_d5 {
  font-size: 14px;
  font-weight: normal;
  text-align: left; 
  margin-top: 2px;
  margin-left: 40px;
  line-height: 1.5;
  text-indent: 20px; 
}
