body {
    font-family:Verdana, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    background-color: #375D80;
    font-size: 36px; 
    color: white; 
    text-align: left; 
    margin-bottom: 10px; 
    padding: 20px;
}
h2 { 
  font-size: 24px;
  color: #375D80; 
  text-align: left;
  margin-left: 45px;
  margin-bottom: 0px;
  padding: 10px;
}
h3 {
  font-size: 20px; 
  font-weight: bold;
  color: #375D80; 
  text-align: left; 
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.text{
    font-size: 16px;
    color: black;
    line-height:1.5;
    text-align: left;
    margin-left: 55px;
	margin-top: 0px;
}

.subhead {
    font-size: 26px;
    color: black; 
    text-align: left;
    margin-bottom: 10px; 
    margin-top: 0px; 
    padding-top: 0px;
    padding-left: 20px;
    font-weight: bold;
}
#menuleft {
	width: 150px;
	background-color: white; 
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 15px;
	padding-bottom: 10px; 
	float: left;
	border: 2px solid #375D80;
}

#menuleft a {
	display: block; 
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 18px; 
	text-decoration: none;
	color: black;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1;
}
#menuleft a:hover {
    background-color: #3B7197; 
}
a {
  color: black;
  text-decoration: none; 
}
a:hover {
  text-decoration: underline;
  color:blue;	
}

.box1 {
    margin-left: 20px;
    margin-bottom: 20px; 
    width: 1100px; 
    float: left;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    border: 1.5px solid #375D80
}

.box2 {
    margin-left: 20px;
    width: 1000px; 
    float: left;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid #375D80
}
/*option*/
.graybox {
    background-color: #f2f2f2;
    width: 80%;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-left: 55px;
    margin-bottom: 40px;
    border: 0px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    max-height: auto; 
    overflow-y: auto; 
    overflow-x: auto; 
    height:auto;
}

.td-left {
    width:150px;
    padding-left: 0px;
    vertical-align: top; 
    text-align: left;
    line-height: 30px;
}

.td-right {
	width: 1200px;
    padding-left: 0px;
    vertical-align: top;
    line-height: 30px;
}
.top-align tr {
    vertical-align: top;
}

.level {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  text-align: justify;
  white-space: nowrap; 
}

.level p{
	margin-top: 2px;
	margin-bottom: 0px;	
}

.box-container {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	overflow-x: scroll; /**/
}

.level1 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-left: 15px;
	padding-bottom: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-top: 0px;
}

.level2 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-left: 35px;
	margin-top: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

.level3 {
  font-size: 16px;
  font-weight: normal;
  text-align: left; 
  margin-left: 50px;
  margin-top: 2px;
}
.level4 {
  font-size: 16px;
  font-weight: normal;
  text-align: left; 
  margin-left:60px;
}
.infodetail {
  font-size: 16px;
  text-align: left; 
  padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p{
  font-size: 16px;
  color: black;
  line-height: 1.5;
  text-align: left;
  margin-left: 55px;
}

.hidden-content {
  display: none;
}

.clickable {
  cursor: pointer;
  color: black;
  /*text-decoration: underline;*/
}
